@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for the side panel */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-track {
    background: #0f172a; /* slate-900 */
  }

  ::-webkit-scrollbar-thumb {
    background: #475569; /* slate-600 */
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #64748b; /* slate-500 */
  }
}
